h4 {
  margin-bottom: 2rem;
}

.barcode-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.barcode-format {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.barcode-format img {
  width: 100px;
  height: auto;
  border-radius: 1rem;
}

.sample-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.sample-container .sample {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sample-container .sample:first-child {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.sample-container .sample:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.sample-container .sample:last-child {
  grid-column: 2;
  grid-row: 2;
}

.overlay {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  margin: 0 auto;
  width: max(250px, 60vw);
  height: max(350px, 40vh);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.overlay.active {
  z-index: 1000;
  opacity: 1;
}
